/.idea/.idea.CurrenciesRates /.idea/dataSources/1955b974-5606-4a5a-acac-c841174aaddd/storage_v2/_src_/database/CurrenciesRates.RASesQ/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/.idea.CurrenciesRates /.idea/dataSources/1955b974-5606-4a5a-acac-c841174aaddd/storage_v2/_src_/database/CurrenciesRates.RASesQ/schema/sys.zb4BAA.meta
/.idea/.idea.CurrenciesRates /.idea/dataSources/1955b974-5606-4a5a-acac-c841174aaddd/storage_v2/_src_/database/master.YiqNvw/schema/dbo.sYMBAA.meta
/.idea/.idea.CurrenciesRates /.idea/dataSources/1955b974-5606-4a5a-acac-c841174aaddd/storage_v2/_src_/database/master.YiqNvw/schema/dbo.sYMBAA.zip
/.idea/.idea.CurrenciesRates /.idea/dataSources/1955b974-5606-4a5a-acac-c841174aaddd/storage_v2/_src_/database/master.YiqNvw/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/.idea.CurrenciesRates /.idea/dataSources/1955b974-5606-4a5a-acac-c841174aaddd/storage_v2/_src_/database/master.YiqNvw/schema/sys.zb4BAA.meta
/.idea/.idea.CurrenciesRates /.idea/dataSources/1955b974-5606-4a5a-acac-c841174aaddd/storage_v2/_src_/database/CurrenciesRates.RASesQ.meta
/.idea/.idea.CurrenciesRates /.idea/dataSources/1955b974-5606-4a5a-acac-c841174aaddd/storage_v2/_src_/database/master.YiqNvw.meta
/.idea/.idea.CurrenciesRates /.idea/dataSources/1955b974-5606-4a5a-acac-c841174aaddd.xml
/.idea/.idea.CurrenciesRates /.idea/.gitignore
/.idea/.idea.CurrenciesRates /.idea/.name
/.idea/.idea.CurrenciesRates /.idea/dataSources.local.xml
/.idea/.idea.CurrenciesRates /.idea/dataSources.xml
/.idea/.idea.CurrenciesRates /.idea/encodings.xml
/.idea/.idea.CurrenciesRates /.idea/indexLayout.xml
/.idea/.idea.CurrenciesRates /.idea/projectSettingsUpdater.xml
/.idea/.idea.CurrenciesRates /.idea/vcs.xml
/.idea/.idea.CurrenciesRates /.idea/workspace.xml
/CurrenciesRates.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
/CurrenciesRates.Api/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/CurrenciesRates.Api/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/CurrenciesRates.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/CurrenciesRates.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/CurrenciesRates.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/CurrenciesRates.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/CurrenciesRates.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/CurrenciesRates.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/CurrenciesRates.Api/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/CurrenciesRates.Api/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/CurrenciesRates.Api/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/CurrenciesRates.Api/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/CurrenciesRates.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CurrenciesRates.Api/bin/Debug/net8.0/appsettings.Development.json
/CurrenciesRates.Api/bin/Debug/net8.0/appsettings.json
/CurrenciesRates.Api/bin/Debug/net8.0/Azure.Core.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Azure.Identity.dll
/CurrenciesRates.Api/bin/Debug/net8.0/CurrenciesRates.Api
/CurrenciesRates.Api/bin/Debug/net8.0/CurrenciesRates.Api.deps.json
/CurrenciesRates.Api/bin/Debug/net8.0/CurrenciesRates.Api.dll
/CurrenciesRates.Api/bin/Debug/net8.0/CurrenciesRates.Api.pdb
/CurrenciesRates.Api/bin/Debug/net8.0/CurrenciesRates.Api.runtimeconfig.json
/CurrenciesRates.Api/bin/Debug/net8.0/CurrenciesRates.Application.dll
/CurrenciesRates.Api/bin/Debug/net8.0/CurrenciesRates.Application.pdb
/CurrenciesRates.Api/bin/Debug/net8.0/CurrenciesRates.Infrastructure.dll
/CurrenciesRates.Api/bin/Debug/net8.0/CurrenciesRates.Infrastructure.pdb
/CurrenciesRates.Api/bin/Debug/net8.0/Humanizer.dll
/CurrenciesRates.Api/bin/Debug/net8.0/MediatR.Contracts.dll
/CurrenciesRates.Api/bin/Debug/net8.0/MediatR.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Build.Locator.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.OpenApi.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Mono.TextTemplating.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/CurrenciesRates.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.ClientModel.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.CodeDom.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Composition.Convention.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Composition.Hosting.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Composition.Runtime.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Composition.TypedParts.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Drawing.Common.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Formats.Asn1.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.IO.Pipelines.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Memory.Data.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Runtime.Caching.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Security.Permissions.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Text.Encodings.Web.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Text.Json.dll
/CurrenciesRates.Api/bin/Debug/net8.0/System.Windows.Extensions.dll
/CurrenciesRates.Api/obj/Debug/net8.0/ref/CurrenciesRates.Api.dll
/CurrenciesRates.Api/obj/Debug/net8.0/refint/CurrenciesRates.Api.dll
/CurrenciesRates.Api/obj/Debug/net8.0/staticwebassets/msbuild.build.CurrenciesRates.Api.props
/CurrenciesRates.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.CurrenciesRates.Api.props
/CurrenciesRates.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.CurrenciesRates.Api.props
/CurrenciesRates.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/CurrenciesRates.Api/obj/Debug/net8.0/apphost
/CurrenciesRates.Api/obj/Debug/net8.0/Currenci.65185889.Up2Date
/CurrenciesRates.Api/obj/Debug/net8.0/CurrenciesRates.Api.AssemblyInfo.cs
/CurrenciesRates.Api/obj/Debug/net8.0/CurrenciesRates.Api.AssemblyInfoInputs.cache
/CurrenciesRates.Api/obj/Debug/net8.0/CurrenciesRates.Api.assets.cache
/CurrenciesRates.Api/obj/Debug/net8.0/CurrenciesRates.Api.csproj.AssemblyReference.cache
/CurrenciesRates.Api/obj/Debug/net8.0/CurrenciesRates.Api.csproj.CoreCompileInputs.cache
/CurrenciesRates.Api/obj/Debug/net8.0/CurrenciesRates.Api.csproj.FileListAbsolute.txt
/CurrenciesRates.Api/obj/Debug/net8.0/CurrenciesRates.Api.dll
/CurrenciesRates.Api/obj/Debug/net8.0/CurrenciesRates.Api.GeneratedMSBuildEditorConfig.editorconfig
/CurrenciesRates.Api/obj/Debug/net8.0/CurrenciesRates.Api.genruntimeconfig.cache
/CurrenciesRates.Api/obj/Debug/net8.0/CurrenciesRates.Api.GlobalUsings.g.cs
/CurrenciesRates.Api/obj/Debug/net8.0/CurrenciesRates.Api.MvcApplicationPartsAssemblyInfo.cache
/CurrenciesRates.Api/obj/Debug/net8.0/CurrenciesRates.Api.MvcApplicationPartsAssemblyInfo.cs
/CurrenciesRates.Api/obj/Debug/net8.0/CurrenciesRates.Api.pdb
/CurrenciesRates.Api/obj/Debug/net8.0/CurrenciesRates.Api.sourcelink.json
/CurrenciesRates.Api/obj/Debug/net8.0/staticwebassets.build.json
/CurrenciesRates.Api/obj/CurrenciesRates.Api.csproj.EntityFrameworkCore.targets
/CurrenciesRates.Api/obj/CurrenciesRates.Api.csproj.nuget.dgspec.json
/CurrenciesRates.Api/obj/CurrenciesRates.Api.csproj.nuget.g.props
/CurrenciesRates.Api/obj/CurrenciesRates.Api.csproj.nuget.g.targets
/CurrenciesRates.Api/obj/project.assets.json
/CurrenciesRates.Api/obj/project.nuget.cache
/CurrenciesRates.Api/obj/project.packagespec.json
/CurrenciesRates.Api/obj/rider.project.model.nuget.info
/CurrenciesRates.Api/obj/rider.project.restore.info
/CurrenciesRates.Application/bin/Debug/net8.0/CurrenciesRates.Application.deps.json
/CurrenciesRates.Application/bin/Debug/net8.0/CurrenciesRates.Application.dll
/CurrenciesRates.Application/bin/Debug/net8.0/CurrenciesRates.Application.pdb
/CurrenciesRates.Application/obj/Debug/net8.0/ref/CurrenciesRates.Application.dll
/CurrenciesRates.Application/obj/Debug/net8.0/refint/CurrenciesRates.Application.dll
/CurrenciesRates.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/CurrenciesRates.Application/obj/Debug/net8.0/CurrenciesRates.Application.AssemblyInfo.cs
/CurrenciesRates.Application/obj/Debug/net8.0/CurrenciesRates.Application.AssemblyInfoInputs.cache
/CurrenciesRates.Application/obj/Debug/net8.0/CurrenciesRates.Application.assets.cache
/CurrenciesRates.Application/obj/Debug/net8.0/CurrenciesRates.Application.csproj.AssemblyReference.cache
/CurrenciesRates.Application/obj/Debug/net8.0/CurrenciesRates.Application.csproj.CoreCompileInputs.cache
/CurrenciesRates.Application/obj/Debug/net8.0/CurrenciesRates.Application.csproj.FileListAbsolute.txt
/CurrenciesRates.Application/obj/Debug/net8.0/CurrenciesRates.Application.dll
/CurrenciesRates.Application/obj/Debug/net8.0/CurrenciesRates.Application.GeneratedMSBuildEditorConfig.editorconfig
/CurrenciesRates.Application/obj/Debug/net8.0/CurrenciesRates.Application.GlobalUsings.g.cs
/CurrenciesRates.Application/obj/Debug/net8.0/CurrenciesRates.Application.pdb
/CurrenciesRates.Application/obj/Debug/net8.0/CurrenciesRates.Application.sourcelink.json
/CurrenciesRates.Application/obj/CurrenciesRates.Application.csproj.nuget.dgspec.json
/CurrenciesRates.Application/obj/CurrenciesRates.Application.csproj.nuget.g.props
/CurrenciesRates.Application/obj/CurrenciesRates.Application.csproj.nuget.g.targets
/CurrenciesRates.Application/obj/project.assets.json
/CurrenciesRates.Application/obj/project.nuget.cache
/CurrenciesRates.Application/obj/project.packagespec.json
/CurrenciesRates.Application/obj/rider.project.model.nuget.info
/CurrenciesRates.Application/obj/rider.project.restore.info
/CurrenciesRates.Infrastructure/bin/Debug/net8.0/CurrenciesRates.Application.dll
/CurrenciesRates.Infrastructure/bin/Debug/net8.0/CurrenciesRates.Application.pdb
/CurrenciesRates.Infrastructure/bin/Debug/net8.0/CurrenciesRates.Infrastructure.deps.json
/CurrenciesRates.Infrastructure/bin/Debug/net8.0/CurrenciesRates.Infrastructure.dll
/CurrenciesRates.Infrastructure/bin/Debug/net8.0/CurrenciesRates.Infrastructure.pdb
/CurrenciesRates.Infrastructure/bin/Debug/net8.0/CurrenciesRates.Infrastructure.runtimeconfig.json
/CurrenciesRates.Infrastructure/CurrenciesRates.Api/obj/CurrenciesRates.Api.csproj.EntityFrameworkCore.targets
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/ref/CurrenciesRates.Infrastructure.dll
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/refint/CurrenciesRates.Infrastructure.dll
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/Currenci.201CAA12.Up2Date
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/CurrenciesRates.Infrastructure.AssemblyInfo.cs
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/CurrenciesRates.Infrastructure.AssemblyInfoInputs.cache
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/CurrenciesRates.Infrastructure.assets.cache
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/CurrenciesRates.Infrastructure.csproj.AssemblyReference.cache
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/CurrenciesRates.Infrastructure.csproj.CoreCompileInputs.cache
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/CurrenciesRates.Infrastructure.csproj.FileListAbsolute.txt
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/CurrenciesRates.Infrastructure.dll
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/CurrenciesRates.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/CurrenciesRates.Infrastructure.genruntimeconfig.cache
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/CurrenciesRates.Infrastructure.GlobalUsings.g.cs
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/CurrenciesRates.Infrastructure.pdb
/CurrenciesRates.Infrastructure/obj/Debug/net8.0/CurrenciesRates.Infrastructure.sourcelink.json
/CurrenciesRates.Infrastructure/obj/CurrenciesRates.Infrastructure.csproj.EntityFrameworkCore.targets
/CurrenciesRates.Infrastructure/obj/CurrenciesRates.Infrastructure.csproj.nuget.dgspec.json
/CurrenciesRates.Infrastructure/obj/CurrenciesRates.Infrastructure.csproj.nuget.g.props
/CurrenciesRates.Infrastructure/obj/CurrenciesRates.Infrastructure.csproj.nuget.g.targets
/CurrenciesRates.Infrastructure/obj/project.assets.json
/CurrenciesRates.Infrastructure/obj/project.nuget.cache
/CurrenciesRates.Infrastructure/obj/project.packagespec.json
/CurrenciesRates.Infrastructure/obj/rider.project.model.nuget.info
/CurrenciesRates.Infrastructure/obj/rider.project.restore.info
/obj/CurrenciesRates.Api.csproj.EntityFrameworkCore.targets
/CurrenciesRates .sln
